body
{
  color: black;
  background: #ffa500;
  font-family: cursive;

}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name1 ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.btn-warning{

width:80%;
letter-spacing: 10px;
font-size: 30px;

}

label{

background-color: white;
color: black;
border-radius: 40px;
font-size: 20px;

}
